@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "samim";
        src: local("samim") url("../public/fonts/samim/Samim-Bold-FD.woff2") format("woff2");
        


    }
    @font-face {
        font-family: "koodak";
        src: local("koodak") url("../public/fonts/koodak/Far_KoodkBd.ttf") format("ttf");
        
    }
    @font-face {
        font-family: "vazir";
        src: local("vazir") url("../public/fonts/vazir/Vazir.ttf") format("ttf");
        
    }
}